/* ================= JOB LIST ================= */

.job-list {
    margin-top: 25px;
}

.job-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(390px,1fr));

gap:28px;

margin-top:25px;

}
/* ================= JOB CARD ================= */

.job-card {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    padding: 24px;
    transition: .35s ease;
    box-shadow: 0 10px 25px rgba(15,23,42,.06);
    position: relative;
    overflow: hidden;
}

.job-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background: #4f46e5;
    transform: scaleY(0);
    transition: .35s;
}

.job-card:hover::before {
    transform: scaleY(1);
}

.job-card:hover {
    transform: translateY(-8px);
    border-color: #4f46e5;
    box-shadow: 0 20px 40px rgba(79,70,229,.12);
}

.job-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.company-logo {

    width:60px;

    height:60px;

    border-radius:50%;

    background:linear-gradient(135deg,#4f46e5,#6366f1);

    color:white;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:24px;

    font-weight:700;

}
.job-type {
    background: #eef2ff;
    color: #4f46e5;
    padding: 6px 12px;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 600;
}

.job-card h2 {
    font-size: 22px;
    color: #111827;
    margin-bottom: 8px;
}

.company-name {
    color: #64748b;
    margin-bottom: 18px;
}

.job-info {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}

.job-info p {
    margin: 0;
    color: #374151;
}

.job-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 20px 0;
}

.skill {
    background: #f3f4f6;
    color: #374151;
    padding: 6px 12px;
    border-radius: 30px;
    font-size: 13px;
}

.apply-btn{

width:100%;

padding:15px;

border:none;

border-radius:12px;

background:linear-gradient(135deg,#4f46e5,#6366f1);

color:white;

font-size:15px;

font-weight:600;

cursor:pointer;

transition:.35s;

}
.apply-btn:hover{

transform:translateY(-2px);

box-shadow:0 12px 25px rgba(79,70,229,.30);

}

@media(max-width:768px){

.job-grid{
grid-template-columns:1fr;
 margin-top:35px;
}

}